<div class="scrollable">
    <h1 class="scrollable-header app-name">Resgrid BigBoard</h1>
    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" ui-sref="app.home">Home <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" ui-sref="app.about">About <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" ui-sref="app.settings">Settings <i class="fa fa-chevron-right pull-right"></i></a>
        </div>
    </div>
</div>