<div class="modal modal-overlay" ui-if='privacyPolicy' ui-state='privacyPolicy'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        ui-turn-off="privacyPolicy">&times;</button>
                <h4 class="modal-title">Privacy Policy</h4>
            </div>
            <div class="modal-body">
                <p>Privacy Policy</p>
            </div>
            <div class="modal-footer">
                <button ui-turn-off="privacyPolicy" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>