<div class="modal modal-overlay" ui-if='termsOfUse' ui-state='termsOfUse'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        ui-turn-off="termsOfUse">&times;</button>
                <h4 class="modal-title">Terms Of Use</h4>
            </div>
            <div class="modal-body">
                <p>Terms of Use</p>
            </div>
            <div class="modal-footer">
                <button ui-turn-off="termsOfUse" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>