<div class="modal" ui-if='termsOfUse' ui-state='termsOfUse'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        ui-turn-off="termsOfUse">&times;</button>
                <h4 class="modal-title">Terms Of Use</h4>
            </div>
            <div class="modal-body">
                <div style="max-height: 450px;overflow: scroll;">
                <h1 id="resgrid-mobile-terms-of-use">RESGRID MOBILE TERMS OF USE</h1>

                <p>Last Updated: 3/27/2014</p>

                <p>BY USING THIS RESGRID MOBILE APPLICATION (THE “APPLICATION”), YOU (THE “USER”) ACCEPT THESE TERMS OF USE (“TERMS”).  THESE TERMS CONSTITUTE A BINDING AGREEMENT, GOVERNING USE OF THE APPLICATION, BETWEEN USER AND RESGRID, LLC, (“RESGRID”).  BY DOWNLOADING, INSTALLING, OR USING THE APPLICATION, USER ACKNOWLEDGES AND AGREES TO BE BOUND BY THESE TERMS.  SHOULD USER NOT ACKNOWLEDGE AND AGREE TO THESE TERMS, USER MUST IMMEDIATELY UNINSTALL THIS APPLICATION AND DISCONTINUE ITS USE. THESE TERMS ARE AVAILABLE ON APPLICATION’S ABOUT US SCREEN.  CONTINUED USE OF THE APPLICATION SIGNIFIES YOUR CONTINUED ACCEPTANCE OF THESE TERMS AND ANY CHANGES TO THEM.</p><div class="se-section-delimiter"></div>

                <h2 id="definitions">Definitions</h2>

                <p>The “Application” shall mean the software provided by Resgrid, LLC to offer services related to Resgrid, Resgrid’s services and its partners’ services, to be used on Apple iOS, Android OS, Windows Phone and Windows 8 devices and any upgrades from time to time and any other software or documentation which enables the use of the Application.</p><div class="se-section-delimiter"></div>

                <h2 id="changes-to-these-terms">Changes to these Terms</h2>

                <p>We reserve the right to modify these Terms at any time. For instance, we may need to change these Terms if we come out with a new feature or for some other reason.</p>

                <p>Whenever we make changes to these Terms, the changes are effective 7 days after we post such revised Terms (indicated by revising the date at the top of these Terms) or upon your acceptance if we provide a mechanism for your immediate acceptance of the revised Terms (such as a click-through confirmation or acceptance button). It is your responsibility to check for changes to these Terms.</p>

                <p>If you continue to use the Application after the revised Terms go into effect, then you have accepted the changes to these Terms.</p><div class="se-section-delimiter"></div>

                <h2 id="privacy-policy">Privacy Policy</h2>

                <p>For information about how we collect and use information about users of the Application, please check out our privacy policy available inside the Application’s About page.</p><div class="se-section-delimiter"></div>

                <h2 id="third-party-services">Third-Party Services</h2>

                <p>From time to time, we may provide you with links to third party websites or services that we do not own or control. Your use of the Application may also include the use of applications that are developed or owned by a third party. Your use of such third party applications, websites, and services is governed by that party’s own terms of service or privacy policies. We encourage you to read the terms and conditions and privacy policy of any third party application, website or service that you visit or use.</p><div class="se-section-delimiter"></div>

                <h2 id="availability">Availability</h2>

                <p>This Application is available to handheld mobile devices running Apple iOS, Android OS, Windows Phone and Windows 8 Operating Systems. Resgrid. will use reasonable efforts to make the Application available at all times. However you acknowledge the Application is provided over the Internet and mobile networks and so the quality and availability of the Application may be affected by factors outside Resgrid’s reasonable control. </p>

                <p>Resgrid, its group of companies and sub-contractors do not accept any responsibility whatsoever for unavailability of the Application, or any difficulty or inability to download or access content or any other communication system failure which may result in the Application being unavailable. Resgrid will not be responsible for any support or maintenance for the Application.</p><div class="se-section-delimiter"></div>

                <h2 id="creating-accounts">Creating Accounts</h2>

                <p>When you create an account or use another service to log in to the Application, you agree to maintain the security of your password and accept all risks of unauthorized access to any data or other information you provide to the Application.</p>

                <p>If you discover or suspect any Application security breaches, please let us know as soon as possible.</p><div class="se-section-delimiter"></div>

                <h2 id="your-content-conduct">Your Content &amp; Conduct</h2>

                <p>Our Application allows you and other users to post, link and otherwise make available content. You are responsible for the content that you make available to the Application, including its legality, reliability, and appropriateness.</p>

                <p>When you post, link or otherwise make available content to the Application, you grant us the right and license to use, reproduce, modify, publicly perform, publicly display and distribute your content on or through the Application. We may format your content for display throughout the Application, but we will not edit or revise the substance of your content itself.</p>

                <p>Aside from our limited right to your content, you retain all of your rights to the content you post, link and otherwise make available on or through the Application.</p>

                <p>You can remove the content that you posted by deleting it. Once you delete your content, it will not appear on the Application, but copies of your deleted content may remain in our system or backups for some period of time.</p>

                <p>You may not post, link and otherwise make available on or through the Application any of the following:</p>

                <ul>
                    <li>Content that is libelous, defamatory, bigoted, fraudulent or deceptive;</li>
                    <li>Content that is illegal or unlawful, that would otherwise create liability;</li>
                    <li>Content that may infringe or violate any patent, trademark, trade secret, copyright, right of privacy, right of publicity or other intellectual or other right of any party;</li>
                    <li>Mass or repeated promotions, political campaigning or commercial messages directed at users who do not follow you (SPAM);</li>
                    <li>Private information of any third party (e.g., addresses, phone numbers, email addresses, Social Security numbers and credit card numbers); and</li>
                    <li>Viruses, corrupted data or other harmful, disruptive or destructive files or code.</li>
                </ul>

                <p>Also, you agree that you will not do any of the following in connection with the Application or other users:</p>

                <ul>
                    <li>Use the Application in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying the Application or that could damage, disable, overburden or impair the functioning of the Application;</li>
                    <li>Impersonate or post on behalf of any person or entity or otherwise misrepresent your affiliation with a person or entity;</li>
                    <li>Collect any personal information about other users, or intimidate, threaten, stalk or otherwise harass other users of the Application;</li>
                    <li>Create an account or post any content if you are not over 13 years of age years of age; and</li>
                    <li>Circumvent or attempt to circumvent any filtering, security measures, rate limits or other features designed to protect the Application, users of the Application, or third parties.</li>
                </ul><div class="se-section-delimiter"></div>

                <h2 id="resgrid-materials">Resgrid Materials</h2>

                <p>We put a lot of effort into creating the Application including, the logo and all designs, text, graphics, pictures, information and other content (excluding your content). This property is owned by us or our licensors and it is protected by U.S. and international copyright laws. We grant you the right to use it.</p>

                <p>However, unless we expressly state otherwise, your rights do not include: (i) publicly performing or publicly displaying the Application; (ii) modifying or otherwise making any derivative uses of the Application or any portion thereof; (iii) using any data mining, robots or similar data gathering or extraction methods; (iv) downloading (other than page caching) of any portion of the Application or any information contained therein; (v) reverse engineering or accessing the Application in order to build a competitive product or service; or (vi) using the Application other than for its intended purposes. If you do any of this stuff, we may terminate your use of the Application.</p><div class="se-section-delimiter"></div>

                <h2 id="hyperlinks-and-third-party-content">Hyperlinks and Third Party Content</h2>

                <p>You may create a hyperlink to the Application. But, you may not use, frame or utilize framing techniques to enclose any of our trademarks, logos or other proprietary information without our express written consent.</p>

                <p>Resgrid makes no claim or representation regarding, and accepts no responsibility for third party websites accessible by hyperlink from the Application or websites linking to the Application. When you leave the Application, you should be aware that these Terms and our policies no longer govern.</p>

                <p>If there is any content on the Application from you and others, we don’t review, verify or authenticate it, and it may include inaccuracies or false information. We make no representations, warranties, or guarantees relating to the quality, suitability, truth, accuracy or completeness of any content contained in the Application. You acknowledge sole responsibility for and assume all risk arising from your use of or reliance on any content.</p><div class="se-section-delimiter"></div>

                <h2 id="no-warranties">No Warranties</h2>

                <p>THE APPLICATION AND ANY OTHER APPLICATION AND CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE APPLICATION ARE PROVIDED TO YOU ON AN AS IS OR AS AVAILABLE BASIS WITHOUT ANY REPRESENTATIONS OR WARRANTIES OF ANY KIND. WE DISCLAIM ANY AND ALL WARRANTIES AND REPRESENTATIONS (EXPRESS OR IMPLIED, ORAL OR WRITTEN) WITH RESPECT TO THE APPLICATION AND CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE APPLICATION WHETHER ALLEGED TO ARISE BY OPERATION OF LAW, BY REASON OF CUSTOM OR USAGE IN THE TRADE, BY COURSE OF DEALING OR OTHERWISE.</p><div class="se-section-delimiter"></div>

                <h2 id="no-liability">No Liability</h2>

                <p>IN NO EVENT WILL RESGRID BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY SPECIAL, INDIRECT, INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES OF ANY KIND ARISING OUT OF OR IN CONNECTION WITH THE APPLICATION OR ANY OTHER SERVICE AND/OR CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE APPLICATION, REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR ARE AWARE OF THE POSSIBILITY OF SUCH DAMAGES. OUR TOTAL LIABILITY FOR ALL CAUSES OF ACTION AND UNDER ALL THEORIES OF LIABILITY WILL BE LIMITED TO THE AMOUNT YOU PAID TO RESGRID. THIS SECTION WILL BE GIVEN FULL EFFECT EVEN IF ANY REMEDY SPECIFIED IN THIS AGREEMENT IS DEEMED TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</p><div class="se-section-delimiter"></div>

                <h2 id="indemnification">Indemnification</h2>

                <p>You agree to defend, indemnify and hold us harmless from and against any and all costs, damages, liabilities, and expenses (including attorneys’ fees, costs, penalties, interest and disbursements) we incur in relation to, arising from, or for the purpose of avoiding, any claim or demand from a third party relating to your use of the Application or the use of the Application by any person using your account, including any claim that your use of the Application violates any applicable law or regulation, or the rights of any third party, and/or your violation of these Terms.</p><div class="se-section-delimiter"></div>

                <h2 id="governing-law">Governing Law</h2>

                <p>The validity of these Terms and the rights, obligations, and relations of the parties under these Terms will be construed and determined under and in accordance with the laws of the State of Nevada, without regard to conflicts of law principles.</p><div class="se-section-delimiter"></div>

                <h2 id="jurisdiction">Jurisdiction</h2>

                <p>You expressly agree that exclusive jurisdiction for any dispute with the Application or relating to your use of it, resides in the courts of the State of Nevada and you further agree and expressly consent to the exercise of personal jurisdiction in the courts of the State of Nevada located in Carson City, Nevada in connection with any such dispute including any claim involving Application. You further agree that you and Application will not commence against the other a class action, class arbitration or other representative action or proceeding.</p><div class="se-section-delimiter"></div>

                <h2 id="termination">Termination</h2>

                <p>If you breach any of these Terms, we have the right to suspend or disable your access to or use of the Application.</p><div class="se-section-delimiter"></div>

                <h2 id="entire-agreement">Entire Agreement</h2>

                <p>These Terms constitute the entire agreement between you and Resgrid, LLC. regarding the use of the Application, superseding any prior agreements between you and Resgrid, LLC. relating to your use of the Application.</p><div class="se-section-delimiter"></div>

                <h2 id="feedback">Feedback</h2>

                <p>Please let us know what you think of the Application, these Terms and, in general, Resgrid Mobile Applications. When you provide us with any feedback, comments or suggestions about our Services or Applications, these Terms and, in general, Resgrid, you irrevocably assign to us all of your right, title and interest in and to your feedback, comments and suggestions.</p><div class="se-section-delimiter"></div>

                <h2 id="questions-contact-information">Questions &amp; Contact Information</h2>

                <p>Questions or comments about the Service may be directed to us at the email address team@resgrid.com.</p>
                <br />
                <br />
                </div>
            </div>
            <div class="modal-footer">
                <button ui-turn-off="termsOfUse" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>