<div class="scrollable">
    <div class="scrollable-content">

        <div class="list-group text-center">
            <div class="list-group-item list-group-item-home">
                <h1>Resgrid BigBoard<small>{{vm.version}}</small>
                </h1>
            </div>
            <div class="list-group-item list-group-item-home">
                <div>
                    <h3 class="home-heading">About</h3>
                        Resgrid BigBoard is a dashboard application that interacts with the Resgrid Service. Deigned for TV's, Tablets and computers the BigBoard allows you to configure your view to match your departments needs and display it to your personnel in a common area, on your desk or on the go.
                </div>
            </div>
        </div>
    </div>
</div>