<div class="modal" ui-if='mapSettings' ui-state='mapSettings' ng-controller="MapSettingsCtrl">
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" ui-turn-off="mapSettings">&times;</button>
                <h4 class="modal-title">Map Widget Settings</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <fieldset>
                            <legend>Map Location</legend>
                            <div class="form-group">
                                <label>Units</label>
                                <input type="number" ng-model="widgetSettings.zoom" min="1" max="15">
                            </div>
                            <div class="form-group">
                                <label>Latitude</label>
                                <input type="text"
                                    ng-model="widgetSettings.centerLat"
                                    class="form-control"
                                    placeholder="Decimal Notation: i.e. 39.1517">
                            </div>
                            <div class="form-group">
                                <label>Longitude</label>
                                <input type="text"
                                    ng-model="widgetSettings.centerLon"
                                    class="form-control"
                                    placeholder="Decimal Notation: i.e. -119.4571">
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-xs-6">
                        <fieldset>
                            <legend>Map Options</legend>
                            <div class="form-group">
                                <label>Zoom out to show all markers</label>
                                <ui-switch ng-model='widgetSettings.showAllMarkers'></ui-switch>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ui-turn-off="mapSettings" class="btn btn-default">Close</button>
                <button class="btn btn-primary" ng-click="saveSettings()">Save</button>
            </div>
        </div>
    </div>
</div>