<div ui-content-for="title">
    <span>Settings</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">

        <div ng-show="vm.saving" class="app-content-loading">
            <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>


        <form role="form" ng-hide="vm.saving">
            <fieldset>
                <div class="form-group has-success has-feedback">
                    <label>Username</label>
                    <input type="email"
                           ng-model="vm.userName"
                           class="form-control"
                           placeholder="Username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password"
                           class="form-control"
                           ng-model="vm.password"
                           placeholder="Password">
                </div>
            </fieldset>
            <hr>

            <div ui-content-for="navbarAction">
                <a class='btn' ng-click='vm.saveSettings()'>Save</a>
            </div>

        </form>
    </div>
</div>