cta-panel {
  position: relative;
  display: block;
  color: #78909C;
  padding-top: 5rem;
  text-align: center;
  width: 100%;

  .top-icon {
    display: block;
    font-size: 5em;
    color: #CFD8DC;
  }

  h1 {
    margin-bottom: 2rem;
  }
  div {
    line-height: 2rem;
    padding: 0 2rem 0 2rem;
  }
  div.details {
    font-weight: bold;
  }
  .extra-details-icon {
    vertical-align: middle;
  }
  .cta-button {
    margin-top: 4rem;
  }
}
