<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="light" (click)="dismissModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="container safe-area">
    <ion-grid style="margin-left: 10px; margin-right: 10px;">
      <ion-row>
        <ion-col>
          <img class="mainLogo" src="assets/images/Resgrid_JustText.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>The Resgrid Unit app is used with the Resgrid system to control a unit (apparatus) or team of individuals to relay AVL, call info, status and  
            notes for First Responder organizations, like volunteer and career fire, EMS, search and rescue and many more.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-list lines="none">
              <ion-item>
                <ion-avatar slot="start">
                  
                </ion-avatar>
                <ion-label>
                  <h2>{{'aboutPage.appVersion' | translate}}</h2>
                  <h3>{{applicationVersion}}</h3>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  
                </ion-avatar>
                <ion-label>
                  <h2>{{'aboutPage.apiLocation' | translate}}</h2>
                  <h3>{{serverAddress}}</h3>
                </ion-label>
              </ion-item>
            </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>