<div ui-content-for="navbarAction">
    <div class="btn-group pull-right">
        <a ui-turn-on='dashboardMenu' class='btn'>
            <i class="fa fa-ellipsis-v"></i>
        </a>
        <ul ui-state="dashboardMenu"  class="dropdown-menu"  ui-outer-click="Ui.turnOff('dashboardMenu')"
            ui-outer-click-if="Ui.active('dashboardMenu')" role="menu" ui-show="dashboardMenu"
            ui-turn-off="dashboardMenu">

            <li><a ng-click="openWidgetMenu()"><i class="fa fa-plus"></i> Add Widget</a></li>
            <li><a ng-click="saveLayout()"><i class="fa fa-floppy-o"></i> Save Layout</a></li>
            <li><a ng-click="loadLayout()"><i class="fa fa-folder-open"></i> Load Layout</a></li>
            <li><a ng-click="clear()"><i class="fa fa-trash"></i> Clear</a></li>
        </ul>
    </div>
</div>

<div gridster="gridsterOptions">
    <ul>
        <li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group pull-right">
                        <a ui-turn-on='myDropdown{{widget.id}}' class='btn'>
                            <i class="fa fa-ellipsis-v"></i>
                        </a>
                        <ul ui-state="myDropdown{{widget.id}}"  class="dropdown-menu"  ui-outer-click="Ui.turnOff('myDropdown' + widget.id)"
                                ui-outer-click-if="Ui.active('myDropdown' + widget.id)" role="menu" ui-show="myDropdown{{widget.id}}"
                                ui-turn-off="myDropdown{{widget.id}}">

                            <li><a ng-click="openSettings(widget)"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a ng-click="remove(widget)"><i class="fa fa-trash"></i> Remove</a></li>
                        </ul>
                    </div>
                    <h3 class="panel-title">{{ widget.name }}</h3>
                </div>
                <div class="panel-body">
                    <div ng-include src="widget.templateUrl"></div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div ui-content-for="modals">
    <div ng-include="'widgets/personnel/settings.html'" ng-controller="PersonnelSettingsCtrl"></div>
    <div ng-include="'widgets/units/settings.html'" ng-controller="UnitSettingsCtrl"></div>
    <div ng-include="'widgets/map/settings.html'" ng-controller="MapSettingsCtrl"></div>
    <div ng-include="'widgets/weather/settings.html'" ng-controller="WeatherSettingsCtrl"></div>
    <div ng-include="'views/home/addWidget.html'"></div>
</div>