<ion-content [fullscreen]="true">
    <div class="grid-container">
        <ktd-grid [cols]="cols" [height]="rowHeightFit && gridHeight ? gridHeight : null" [rowHeight]="rowHeightFit ? 'fit' : rowHeight" [layout]="widgets" [compactType]="compactType"
            [preventCollision]="preventCollision" [scrollableParent]="autoScroll ? document : null" [gap]="gap" scrollSpeed="4" (dragStarted)="onDragStarted($event)"
            (resizeStarted)="onResizeStarted($event)" (dragEnded)="onDragEnded($event)" (resizeEnded)="onResizeEnded($event)" (layoutUpdated)="onLayoutUpdated($event)">
            <ktd-grid-item *ngFor="let item of widgets; trackBy:trackById" [id]="item.id" [transition]="currentTransition" [dragStartThreshold]="dragStartThreshold" [draggable]="!disableDrag" [resizable]="!disableResize">
                <app-widgets-weather *ngIf="item.type === 3"></app-widgets-weather>

                <div class="grid-item-remove-handle" *ngIf="!disableRemove" (mousedown)="stopEventPropagation($event)" (click)="removeItem(item.id)">
                </div>
            </ktd-grid-item>
        </ktd-grid>
    </div>
    <ion-fab slot="fixed" horizontal="end" vertical="bottom">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button (click)="addWidget(1)">
                <ion-icon name="people"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="addWidget(5)">
                <ion-icon name="megaphone"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="addWidget(4)">
                <ion-icon name="car"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="addWidget(2)">
                <ion-icon name="map"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="addWidget(3)">
                <ion-icon name="sunny"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="thunderstorm"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="addWidget(7)">
                <ion-icon name="link"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="addWidget(8)">
                <ion-icon name="document"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="mic"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>