<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            <ion-label
              >{{'settingsPage.accountSettingsSection' | translate}}</ion-label
            >
          </ion-list-header>
          <ion-item lines="none" (click)="showSetServerAddressModal()">
            <ion-avatar slot="start" class="green-bg">
              <ion-icon name="server-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.serverInfoLabel' | translate}}</h2>
              <p>{{'settingsPage.serverInfoText' | translate}}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" (click)="showLoginModal()">
            <ion-avatar slot="start" class="cyan-bg">
              <ion-icon name="person-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.loginInfoLabel' | translate}}</h2>
              <p>{{'settingsPage.loginInfoText' | translate}}</p>
            </ion-label>
          </ion-item>
          <ion-item
            lines="none"
            [hidden]="!(settingsState$ | async)?.loggedIn"
            (click)="logOut()"
          >
            <ion-avatar slot="start" class="red-bg">
              <ion-icon name="log-out-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.logoutLabel' | translate}}</h2>
              <p>{{'settingsPage.logoutText' | translate}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            <ion-label
              >{{'settingsPage.applicationSection' | translate}}</ion-label
            >
          </ion-list-header>
          <ion-item lines="none">
            <ion-avatar slot="start" class="navy-bg">
              <ion-icon name="contrast-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.darkThemeLabel' | translate}}</h2>
              <p>{{'settingsPage.darkThemeText' | translate}}</p>
            </ion-label>
            <ion-select
              item-end
              placeholder="Default"
              (ngModelChange)="setPerferDarkMode($event)"
              [(ngModel)]="themePreference"
            >
              <ion-select-option value="-1">Default</ion-select-option>
              <ion-select-option value="0">Light</ion-select-option>
              <ion-select-option value="1">Dark</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <ion-avatar slot="start" class="blue-bg">
              <ion-icon name="tv-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.keepActiveLabel' | translate}}</h2>
              <p>{{'settingsPage.keepActiveText' | translate}}</p>
            </ion-label>
            <ion-toggle
              item-end
              color="primary"
              [checked]="keepAlive$ | async"
              (ionChange)="setKeepAlive($event)"
            ></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            <ion-label>{{'settingsPage.optionsSection' | translate}}</ion-label>
          </ion-list-header>
          <ion-item lines="none" (click)="showsAboutModal()">
            <ion-avatar slot="start" class="yellow-bg">
              <ion-icon name="information-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.aboutLabel' | translate}}</h2>
              <p>{{'settingsPage.aboutText' | translate}}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" [hidden]="true">
            <ion-avatar slot="start" class="yellow-bg">
              <ion-icon name="lock-open-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.requestPermissionsLabel' | translate}}</h2>
              <p>{{'settingsPage.requestPermissionsText' | translate}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
