<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'appName' | translate}}</ion-title>
    <ion-buttons end [hidden]="!(areSettingsSet)">
      <button ion-button icon-only (click)="presentAddPopover($event)" color="success"><ion-icon name="add"></ion-icon></button>
      <button ion-button icon-only item-right clear (click)="presentAppPopover($event)"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: darkgrey;">
  <div [ngGrid]="gridConfig" [hidden]="!areSettingsSet">
    <ion-card *ngFor="let box of boxes; let i = index" [(ngGridItem)]="box.config" style="margin-top:4px;">
      <ion-card-header class="handle" style="background-color:#f3f3f3;">
        <ion-item>
          {{box.name}}
          <button ion-button icon-only item-right clear color="dark" (click)="openWidgetSettings(box)"><ion-icon name="settings"></ion-icon></button>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <personnel-widget *ngIf="box.type === 1"></personnel-widget>
        <calls-widget *ngIf="box.type === 5"></calls-widget>
      </ion-card-content>
      </ion-card>
  </div>
  <cta-panel [hidden]="areSettingsSet" (ctaClick)="setSettingsClick()" [topIcon]="'alert'" [title]="'settingsNotSetPanel.title' | translate"
    [details]="'settingsNotSetPanel.details' | translate" [extraDetails]="'settingsNotSetPanel.extraDetails' | translate" [btnLabel]="'settingsNotSetPanel.buttonLabel' | translate"></cta-panel>
  <cta-panel [hidden]="!(areSettingsSet && boxes.length <= 0)" (ctaClick)="presentAddPopover($event)" [topIcon]="'add'" [title]="'noWidgetsPanel.title' | translate"
    [details]="'noWidgetsPanel.details' | translate" [extraDetails]="'noWidgetsPanel.extraDetails' | translate" [btnLabel]="'noWidgetsPanel.buttonLabel' | translate"></cta-panel>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="bottom-bar" style="text-align: right; padding-right:10px;">
      <span *ngIf="connected" style="color:green;">Connected to Resgrid</span>
      <span *ngIf="!connected" style="color:#f53d3d;">Disconnected from Resgrid, was last connected {{connectionTimestamp | amTimeAgo}}</span>
    </div>
  </ion-toolbar>
</ion-footer>