// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.call-priority-low {
  color: green;
}

.call-priority-medium {
  color: #DBDB2E;
}

.call-priority-high {
  color: orange;
}

.call-priority-emergency {
  color: red;
}

.call-state-active {
  color: green;
}

.call-state-cancelled {
  color: gray;
}

.call-state-closed {
  color: black;
}

.label-danger {
  background-color: #ff3b30;
}

.label-success {
  background-color: green;
}

.label-warning {
  background-color: #f8ac59;
}

.label-onscene {
  background-color: #406b99;
}

.label-info {
  background-color: #34aadc;
}

.label-enroute {
  background-color: #b9b9b9;
}

.label-returning {
  background-color: #8b362a;
}

.label-default {
  background-color: #999999;
}

.label-inverse {
  background-color: #1a1a1a;
}

.status-label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.labels {
  color: red;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 70px;
  border: 2px solid black;
  white-space: nowrap;
}

.strippedRows:nth-child(even) {
  background: #f1f1f1;
}

.strippedRows:nth-child(odd) {
  background: white;
}

.bottom-bar {
  position: fixed;
  bottom: 2vh;
  width: 100%;
}

.card-header {
  padding: 0px;
}

@mixin rotate($deg: 90) {
  $sDeg: #{$deg}deg;
  -webkit-transform: rotate($sDeg);
  -moz-transform: rotate($sDeg);
  -ms-transform: rotate($sDeg);
  -o-transform: rotate($sDeg);
  transform: rotate($sDeg);
}

.rotate-grip {
  -webkit-transform: rotate(320deg);
  -moz-transform: rotate(320deg);
  -ms-transform: rotate(320deg);
  -o-transform: rotate(320deg);
  transform: rotate(320deg);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
}