<ion-header>
  <ion-toolbar>
    <ion-title>
      Units Widget Settings
    </ion-title>
    <ion-buttons start>
      <button ion-button color="danger" (click)="remove()">Remove Widget</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h4 class="name">Visible Columns</h4>
      </ion-col>
    </ion-row>
    <ion-row wrap>
      <ion-col>
        <ion-item>
          <ion-label>Station</ion-label>
          <ion-toggle [(ngModel)]="model.ShowStation"></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Type</ion-label>
          <ion-toggle [(ngModel)]="model.ShowType"></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>State</ion-label>
          <ion-toggle [(ngModel)]="model.ShowState"></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Timestamp</ion-label>
          <ion-toggle [(ngModel)]="model.ShowTimestamp"></ion-toggle>
        </ion-item>
      </ion-col>
      <!--<ion-col>
        <ion-item>
          <ion-label>Eta</ion-label>
          <ion-toggle [(ngModel)]="model.ShowEta"></ion-toggle>
        </ion-item>
      </ion-col>-->
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list-header>
          Adjust Text Size
        </ion-list-header>
        <ion-item>
          <ion-range min="4" step="1" max="30" snaps="true" [(ngModel)]="model.FontSize">
            <ion-label range-left class="small-text">a</ion-label>
            <ion-label range-right>A</ion-label>
          </ion-range>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3 class="name">Order Groups</h3>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let group of groups">
      <ion-col>
        <ion-item>
          <ion-input type="number" [value]="getSortWeightForGroup(group.Gid)" (change)="setSortWeightForGroup(group.Gid, $event)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          {{group.Nme}}
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3 class="name">Hide Groups</h3>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let group of groups">
      <ion-col>
        <ion-item>
          <ion-checkbox color="primary" [checked]="getIsHiddenForGroup(group.Gid)" (ionChange)="setIsHiddenForGroup(group.Gid, $event)"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          {{group.Nme}}
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-70>
      </ion-col>
      <ion-col width-30 style="text-align: right;">
        <button ion-button color="light" (click)="close()" end>Close</button>
        <button ion-button color="success" (click)="save()" end>Save</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>