<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="light" (click)="dismissModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="container ion-padding" style="padding-top: 40px">
    <ion-grid style="margin-left: 10px; margin-right: 10px">
      <ion-row class="ion-padding-top" style="text-align: center">
        <ion-label style="text-align: center"
          >{{'loginModal.loginText' | translate}}</ion-label
        >
      </ion-row>
      <ion-row class="ion-padding-top">
        <ion-col>
          <form [formGroup]="loginForm" (ngSubmit)="signIn()">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="input-label" position="stacked"
                >{{'loginModal.usernameLabel' | translate}}</ion-label
              >
              <ion-input formControlName="username"></ion-input>
            </ion-item>
            <div
              class="errors-container"
              *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)"
            >
              <ng-container *ngIf="loginForm.get('username')?.errors?.required"
                >{{'loginModal.usernameErrorText' | translate}}</ng-container
              >
            </div>
            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="input-label" position="stacked"
                >{{'loginModal.passwordLabel' | translate}}</ion-label
              >
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div
              class="errors-container"
              *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
            >
              <ng-container *ngIf="loginForm.get('password')?.errors?.required">
                {{'loginModal.passwordErrorText' | translate}}
              </ng-container>
              <ng-container
                *ngIf="loginForm.get('password')?.errors?.invalidPassword"
              >
                {{loginForm.get('password')?.errors?.message}}
              </ng-container>
            </div>
            <ion-button
              [disabled]="loginForm.invalid"
              class="action-button"
              expand="block"
              fill="solid"
              color="primary"
              type="submit"
            >
              <span>{{'login' | translate}}</span>
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
