<ion-tabs>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title> {{'appName' | translate}} </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div slot="end" [hidden]="!(settingsState$ | async)?.loggedIn">
        <div
          [style.color]="(homeState$ | async)?.statusColor"
          style="
            text-align: right;
            font-size: 12px;
            margin-top: -18px;
            float: right;
          "
        >
          {{(homeState$ | async)?.status}}
        </div>
        <div style="text-align: right; font-size: 12px; float: right">
          Last Update: {{getDate((homeState$ | async)?.lastUpdated)}}
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="dashboard"
      [hidden]="!(settingsState$ | async)?.loggedIn"
    >
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>{{'tabsPage.mapTab' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="configure"
      [hidden]="!(settingsState$ | async)?.loggedIn"
    >
      <ion-icon name="hammer-outline"></ion-icon>
      <ion-label>{{'tabsPage.configureTab' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>{{'tabsPage.settingsTab' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
