<ion-grid id="unitsFullTable" [style.font-size]="getFontSize((widgetsState$ | async)?.unitsWidgetSettings)+'px'">
    <ion-row>
      <ion-col>
        <ion-text color="tertiary"><strong>Name</strong></ion-text>
      </ion-col>
      <ion-col [hidden]="!(widgetsState$ | async)?.unitsWidgetSettings?.ShowStation">
        <ion-text color="tertiary"><strong>Station</strong></ion-text>
      </ion-col>
      <ion-col [hidden]="!(widgetsState$ | async)?.unitsWidgetSettings?.ShowType">
        <ion-text color="tertiary"><strong>Type</strong></ion-text>
      </ion-col>
      <ion-col [hidden]="!(widgetsState$ | async)?.unitsWidgetSettings?.ShowState">
        <ion-text color="tertiary"><strong>State</strong></ion-text>
      </ion-col>
      <ion-col [hidden]="!(widgetsState$ | async)?.unitsWidgetSettings?.ShowTimestamp">
        <ion-text color="tertiary"><strong>Timestamp</strong></ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="strippedRows" *ngFor="let unit of (widgetsState$ | async)?.units">
      <ion-col>
        <ion-text color="medium">{{unit.Name}}</ion-text>
      </ion-col>
      <ion-col [hidden]="!(widgetsState$ | async)?.unitsWidgetSettings?.ShowStation">
        <ion-text color="medium">{{unit.GroupName}}</ion-text>
      </ion-col>
      <ion-col [hidden]="!(widgetsState$ | async)?.unitsWidgetSettings?.ShowType">
        <ion-text color="medium">{{unit.Type}}</ion-text>
      </ion-col>
      <ion-col [style.color]="unit.CurrentStatusColor" [hidden]="!(widgetsState$ | async)?.unitsWidgetSettings?.ShowState">
        <ion-text color="medium">{{unit.CurrentStatus}}</ion-text>
      </ion-col>
      <ion-col [hidden]="!(widgetsState$ | async)?.unitsWidgetSettings?.ShowTimestamp">  
        <ion-text color="medium">{{getTimeago(unit.CurrentStatusTimestampUtc)}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>