<div class="modal" ui-if='weatherSettings' ui-state='weatherSettings' ng-controller="WeatherSettingsCtrl">
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" ui-turn-off="weatherSettings">&times;</button>
                <h4 class="modal-title">Weather Widget Settings</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <fieldset>
                            <legend>Weather Options</legend>
                            <div class="form-group">
                                <label>Units</label>
                                <select ng-model="widgetSettings.units">
                                    <option value="us">US</option>
                                    <option value="uk">UK</option>
                                    <option value="ca">CA</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Latitude</label>
                                <input type="text"
                                       ng-model="widgetSettings.centerLat"
                                       class="form-control"
                                       placeholder="Latitude">
                            </div>
                            <div class="form-group">
                                <label>Longitude</label>
                                <input type="text"
                                       ng-model="widgetSettings.centerLon"
                                       class="form-control"
                                       placeholder="Longitude">
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ui-turn-off="weatherSettings" class="btn btn-default">Close</button>
                <button class="btn btn-primary" ng-click="saveSettings()">Save</button>
            </div>
        </div>
    </div>
</div>