.app-content {
    overflow: scroll !important;
}

.controls {
    margin-bottom: 20px;
}
.page-header {
    margin-top: 20px;
}
ul {
    list-style: none;
}
.box {
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
}
.box-header {
    background-color: #eee;
    padding: 0 30px 0 10px;
    border-bottom: 1px solid #ccc;
    cursor: move;
    position: relative;
}
.box-header h3 {
    margin-top: 10px;
    display: inline-block;
}
.box-content {
    padding: 10px;
}
.box-header-btns {
    top: 15px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}
a {
    color: #ccc;
}
form {
    margin-bottom: 0;
}
.gridster {
    border: 1px solid #ccc;
}

.gridster .gridster-item {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #004756;
    background: #ffffff;
    padding: 10px;
    overflow: hidden;
}

#content
{
    font-size: .75em; /* 12/16 */
    /*width: 71.875%;*/ /* 650/960 */
    max-width: 960px;
    text-align: left;
    /*margin: 0px auto;*/ /*auto centers the container */
    /*padding: 3.84615384615385%;*/ /* 25/650 */
    padding: 1.56%;
}
/*CSS3 multiple columns.*/
/* Get em size for colums: 184/16 */
.columns
{
    -moz-column-width: 11.5em; /* Firefox */
    -webkit-column-width: 11.5em; /* webkit, Safari, Chrome */
    column-width: 11.5em;
}
/*remove standard list and bullet formatting from ul*/
.columns ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* correct webkit/chrome uneven margin on the first column*/
.columns ul li:first-child
{
    margin-top:0px;
}

.alerts {
    position:fixed;
    width:300px;
    right:30px;
    top:30px;
    z-index:10;
}
.alerts>.alert-dismissable {
    position:relative;
    z-index:11;
    min-width:250px;
}

.panel-body {
    padding: 0px !important;
}

#personnelFullTable {
    float:left;
    border:1px solid #dfdfdf;
    border-collapse:collapse;
    width:100%;
    font-size:12px;
}
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media all and (min-width: 768px) and (max-width: 959px) {
    td.col_1{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 600px */
@media all and (min-width: 600px) and (max-width: 767px) {
    td.col_2{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media all and (min-width: 480px) and (max-width: 599px) {
    td.col_3{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media all and (max-width: 479px) {
    td.col_4{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}

.hidden {
    display: none;
}

.call-priority-low {
    color: green;
}

.call-priority-medium {
    color: #DBDB2E;
}

.call-priority-high {
    color: orange;
}

.call-priority-emergency {
    color: red;
}

.call-state-active {
    color: green;
}

.call-state-cancelled {
    color: gray;
}

.call-state-closed {
    color: black;
}

.label-onscene {
    background-color: #406b99;
}

.label-enroute {
    background-color: #b9b9b9;
}

.label-returning {
    background-color: #8b362a;
}

.label-default {
    background-color: #999999;
}

.label-inverse {
    background-color: #333;
}

.label-inverse:hover {
    background-color: #1a1a1a;
}

.labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 70px;
    border: 2px solid black;
    white-space: nowrap;
}