<div id="content" ng-controller="PersonnelWidgetCtrl">
        <!--<div ng-repeat="(key, value) in personnel | groupBy: 'Group'">
            <h5>{{key}}</h5>
            <div class="columns">
                <ul>
                    <li ng-repeat="entry in value">
                        <span>{{entry.Name}}</span>
                        <span class="label {{entry.StateCss}}">{{entry.State}}</span>
                        <span class="label {{entry.StatusCss}}">{{entry.Status}}</span>
                        <span>{{entry.Eta}}</span>
                        <span>{{entry.UpdatedDate | fromNow}}</span>
                    </li>
                </ul>
            </div>
    </div>-->


    <div class="table-responsive">
        <table id="personnelFullTable" class='table table-striped table-condensed'>
            <thead>
            <tr>
                <th>Name</th>
                <th ng-show="widgetSettings.showGroup">Group</th>
                <th ng-show="widgetSettings.showStaffing">Staffing</th>
                <th ng-show="widgetSettings.showStatus">Status</th>
                <th ng-show="widgetSettings.showRoles">Roles</th>
                <th ng-show="widgetSettings.showTimestamp">Timestamp</th>
                <th ng-show="widgetSettings.showEta">ETA</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="person in personnel | orderBy:orderPerson" animate-on-change my-anim ng-hide="isPersonOrGroupHidden(person)">
                <td>
                    {{ person.Name }}
                </td>
                <td style="font-size: 8pt;" ng-show="widgetSettings.showGroup">
                    {{ person.Group }}
                </td>
                <td ng-show="widgetSettings.showStaffing">
                    <span class='label {{person.StateCss}}' style='{{person.StateStyle}}'>{{ person.State }}</span>
                </td>
                <td ng-show="widgetSettings.showStatus">
                    <span class='label {{person.StatusCss}}' style='{{person.StatusStyle}}'>{{ person.Status }}</span>
                </td>
                <td class="col_3" style="font-size: 7pt;" ng-show="widgetSettings.showRoles">
                    {{ person.Roles }}
                </td>
                <td ng-show="widgetSettings.showTimestamp">
                    {{ person.UpdatedDate | fromNow }}
                </td>
                <td ng-show="widgetSettings.showEta">
                    <span ng-hide="person.Eta < 60 || person.Eta < 0">{{ person.Eta / 60 | number: 0 }}m</span>
                    <span ng-hide="person.Eta >= 60 || person.Eta < 0">{{ person.Eta }}s</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>